@media (max-width: 576px) {
  .header {
    font-size: 50px !important;
    margin-top: 50px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 30px !important;
  }
}

body {
  background-color: black !important;
}

h1 {
  font-family: "Paytone One", sans-serif;
  color: whitesmoke;
  font-size: 96px !important;
  margin-top: 150px !important;
}

h2 {
  color: whitesmoke;
}

h3 {
  font-family: "Paytone One", sans-serif;
  color: aliceblue;
  font-size: 50px !important;
}

h4 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
}

img {
  height: 500px;
  width: auto;
}

footer {
  margin-top: 120px;
  color: whitesmoke;
  background-color: #223601;
}

btn {
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

.background-image {
  /* background-image: url("images/ant1.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 900px;
  background-size: 100%;
}

.container-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
